%h3
  = "Viewing Patient #{@patient.first_name}'s Information"

#patient_info_container
  = render :partial => '/patients/info/patient_info'
#patient_allergies
  = render :partial => '/patients/info/patient_allergies'
#patient_medications_container
  = render :partial => '/patients/info/patient_medications'
#drug_interactions
  = render :partial => '/patients/info/drug_interactions', :collection => @interactions

= link_to "Delete this patient's records", patient_path(@patient), :method => 'delete', :confirm => "Are you sure you want to delete #{@patient.first_name}'s records?"
%br
= link_to "Back to Patients Index", patients_path